*{
    text-decoration: none;
}
.header>h1{
    margin: 0;
    padding: 0;
    font-size: 50px;
}
.header>ul{
    float: right;
}
.header>ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: black;
    text-align: center;
    text-decoration: none;
}
.header>ul>li{
    display: inline;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 5px;
    font-size: x-large;
}
.img{
    background-image: url(img/blog_2.jpg);
    background-size: cover;
    background-position:center;
    min-height: 850px;
    min-width: 1500px;
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
}
.img>h2{
    color: white;
    text-align: center;
    padding-top: 430px;
    font-size: 60px;
    align-self: center;
    align-content: center;
    text-transform: capitalize;
}
.end-header, .four>h2{
    background-color: grey;
    border-radius: 30px;
    text-align: center;
    align-self: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 700px;
    margin-right: 700px;
}
.end-header{
    margin-top: 50px;
    font-size: 35px;
}
.two{
    background-image: url(img/slider-1.jpg);
    background-size: cover;
    height: 1000px;
    margin-bottom: 50px;
    opacity: 0.7;
}
.two>h1{
    color: black;
    text-align: center;
    padding-top: 50px;
    font-size: 70px;
    align-self: center;
    align-content: center;
    text-transform: capitalize;
}
.two>h2{
    background-color: grey;
    border-radius: 7px;
    text-align: center;
    align-self: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    margin-top: 120px;
    margin-left: 800px;
    margin-right: 800px;
    border-radius: 30px;
    padding-top: 20px;
    padding-bottom: 10px;
}
.img1{
    margin-top: 80px;
    margin-left: 350px;
    padding: 0 0 0 50px;
}
.top{
    height: 650px;
}
.bottom{
    padding: 20px;
}
.four{
    background-color: pink;
    background-size: cover;
    opacity: 0.7;
}
.four>h1{
    text-align: center;
    font-size: 50px;
}
.end-four>ul>li{
    list-style: none;
    display: inline;
    margin-right: 300px;
    font-size: 24px;
}
.five{
    float: left;
}